<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Password Reset - Online Appointment System</title>
	</head>
	<body style="text-align: center">
		<table
			style="
				padding: 45px;
				background-color: #ffffff;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
					0 6px 20px 0 rgba(0, 0, 0, 0.19);
				border-radius: 10px;
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
				min-width: 500px;
				max-width: 700px;
				margin: 0 auto;
			"
		>
			<tbody>
				<tr>
					<td style="padding: 5px 5px; color: #012970; font-weight: bold">
						Department of Education
					</td>
				</tr>
				<tr>
					<td style="padding: 5px 5px; color: #012970; font-weight: bold">
						Division of Oriental Mindoro
					</td>
				</tr>
				<tr>
					<td style="padding: 5px 5px; color: #de423a; font-weight: bold">
						Online Appointment System
					</td>
				</tr>
				<tr>
					<td style="padding: 15px 5px">
						Trouble signing in? Resetting your password is easy.
					</td>
				</tr>
				<tr>
					<td style="padding: 5px 5px 10px 5px">
						Just press the button below and follow the instructions. We’ll have
						you up and running in no time.
					</td>
				</tr>
				<tr>
					<td style="padding: 15px">
						<a
							href="{PASSWORD_RESET_LINK}"
							style="
								text-decoration: none;
								padding: 10px 20px;
								font-weight: bold;
								background-color: #012970;
								color: #ffffff;
								border-radius: 5px;
							"
							>Reset Your Password</a
						>
					</td>
				</tr>
				<tr>
					<td style="padding: 15px">
						If the above button does not work for you, copy and paste the
						following into your browser's address bar:
					</td>
				</tr>
				<tr>
					<td style="padding: 15px">
						<a href="{PASSWORD_RESET_LINK}">{PASSWORD_RESET_LINK}</a>
					</td>
				</tr>
				<tr>
					<td style="padding: 15px">
						If you did not make this request then please ignore this email.
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
